{{ define "main" }}
{{/* <h1>{{ .Title }}</h1> */}}
{{ range .Pages }}
<article class="post-wrapper">
  <a href="{{ .RelPermalink }}">
    <h3 class="accent">{{ .LinkTitle }}</h3>
  </a>
  <section class="post-stats">
    <img src="/img/site/calendar.png">
    <span title="Date">{{ .Date.Format "02-01-2006" }}</span>
    <img src="/img/site/open-book.png">
    <span title="Word Count">{{ .WordCount }}</span>
  </section>
  <p>
    {{ .Content | plainify | truncate 100 " ..." }}
  </p>
</article>
<hr>
{{ end }}
{{ .Content }}
{{ end }}
{{/* <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2> */}}